{% extends "base.html" %}

{% block title %}Diffed Values{% endblock %}

{% block style %}
textarea{ 
  height: 200px;
  width: 500px;
  clear: both;
}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}
 <div class="container">
  <form action="diff_form" method="post">
    <label for="subject">Old</label>
    <br/>
    <textarea id="old" name="old" placeholder="Old html" style=""></textarea>
    <br/>
    <label for="subject">Current</label>
    <br/>
    <textarea id="current" name="current" placeholder="Current html" style=""></textarea>
    <input type="submit" value="Submit">

  </form>
</div> 
{% endblock %}

